 <li><a class="nav-link" href="/UserHome">Home</a></li>
                        <li><a class="nav-link" href="/NewBeneficiary">Beneficiary </a></li>
                        <li><a class="nav-link" href="/Transaction">Transaction </a></li>
                         <li><a class="nav-link" href="/Withdraw">Withdraw </a></li>
                          <li><a class="nav-link" href="/Deposit">Deposit </a></li>
                         <li><a class="nav-link" href="/TransactionInfo">Report </a></li>
                          <li><a class="nav-link" href="/JoinUser">JoinUser </a></li>
                         <li><a class="nav-link" href="/">Logout </a></li>